{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}
<div class="margin-top">
	<div class="container">
	
		<ul>
			<li><a href="{{ url('fos_message_inbox') }}">{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}</a></li>
			<li><a href="{{ url('fos_message_sent') }}">{% trans from 'FOSMessageBundle' %}sent{% endtrans %}</a></li>
			<li><a href="{{ url('fos_message_deleted') }}">{% trans from 'FOSMessageBundle' %}deleted{% endtrans %}</a></li>
		</ul>
	
		<h2>{% trans from 'FOSMessageBundle' %}search{% endtrans %}</h2>
		
		<p>{% transchoice threads|length with {'%num%': threads|length } from 'FOSMessageBundle' %}
		    threads_found
		{% endtranschoice %}</p>
		
		{% include 'FOSMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}
	</div>
</div>

{% endblock %}
