{% extends "SonataUserBundle::layout.html.twig" %}

	{% block fos_user_content %}
		<div class="margin-top">
			<div class="container">
    		<p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>
    		</div>
    	</div>
	{% endblock fos_user_content %}
	

